.main {
  width: 18rem;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}

.imgBox {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.size-3 {
  font-size: 3rem;
}

img {
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
}

.content {
  line-height: 1;
}

.elipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

span {
  color: grey;
  font-size: small;
}

.headText {
  font-size: 14px;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  background: #000000ba;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.rot-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #FFFFFF;
  rotate: 316deg;
}