<div class="main container py-5 px-3 rounded-3 my-5">
  <p class="text-center display-5">Online Auction System</p>
  <!-- <p class="text-center logPara">Admin Login</p> -->
  <p class="text-center logPara">Sorry, we are working on admin panel.</p>
  <!-- <div *ngIf="errorOccured">
    <p class="alert alert-danger">Wrong Email or Password Try Again!</p>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="loginDetails.email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="loginDetails.password"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">show password</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="text-end">
      <a routerLink="/auth/login">Login as User</a>
    </div>
  </form> -->
  <div class="text-end">
    <a routerLink="/auth/login">Login as User</a>
  </div>
</div>
