.main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
}

.option {
  display: flex;
  flex-direction: column;
}

.logPara {
  font-size: 2.5rem;
}
