<div class="main container py-5 px-3 rounded-3 my-5">
  <p class="text-center display-5">Online Auction System</p>
  <p class="text-center logPara">Login</p>
  <p class="text-center">
    New Here?
    <a routerLink="/auth/register" style="color: rgb(31, 132, 226)"
      >Create an account</a
    >
  </p>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">show password</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
