<div class="mb-3 main">
  <div class="box">
    <div class="imgBox">
      <img src="../../../assets/img/dummy-product.png" alt="..." />
    </div>
    <div class="content">
      <p class="headText">
        Product Id : <span>{{ product.pid }}</span>
      </p>
      <p class="headText">
        Title : <span>{{ product.title }}</span>
      </p>
      <p class="headText">
        Description : <span>{{ product.description }}</span>
      </p>
      <p class="headText">
        Bidding Status : <span>{{ product.bid_status }}</span>
      </p>
    </div>
  </div>
</div>
