<div class="mb-3 main">
  <div class="box">
    <div class="imgBox" *ngIf="product.product_pic; else changeProductPic">
      <img [src]="product.product_pic" alt="..." />
    </div>
    <ng-template #changeProductPic>
      <div class="imgBox">
        <img src="../../../assets/img/dummy-product.png" alt="..." />
      </div>
    </ng-template>

    <div class="content">
      <p class="headText">
        Title : <span>{{ product.title }}</span>
      </p>
      <p class="headText">
        Description : <span>{{ product.description }}</span>
      </p>
      <p class="headText">
        Bidding Status : <span>{{ product.bid_status }}</span>
      </p>
      <p class="headText">
        Base Price : <span>{{ product.base_price }}</span>
      </p>
    </div>
  </div>
</div>
