.main {
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(223, 59, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 40px;
  font-weight: 500;
}

a {
  font-size: 25px;
}
